* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10%;
  background: #111827;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: cyan;
  font-size: 28px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: cyan;
}

/* Hero */

.hero {
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 20px;
}

.hero h2 {
  font-size: 30px;
  color: #cbd5e1;
}

.hero h1 {
  font-size: 70px;
  margin: 15px 0;
}

.hero p {
  font-size: 24px;
  color: cyan;
}

/* Button */

button {
  margin-top: 25px;
  padding: 14px 30px;

  border: none;
  border-radius: 8px;

  background: linear-gradient(to right, cyan, #2563eb);

  color: white;
  font-size: 16px;
  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* Sections */

section {
  padding: 80px 10%;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}

/* About */

.about p {
  max-width: 700px;
  margin: auto;
  text-align: center;
  color: #d1d5db;
}

/* Skills */

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-card {
  background: #1e293b;
  padding: 20px 35px;
  border-radius: 12px;

  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
  background: #334155;
}

/* Projects */

.project-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.project-container a {
  text-decoration: none;
}

.project-card {
  width: 300px;

  background: #1e293b;
  padding: 25px;

  border-radius: 15px;

  color: white;

  transition: 0.3s;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.project-card:hover {
  transform: translateY(-10px);
  background: #334155;
}

.project-card h3 {
  margin-bottom: 15px;
  color: cyan;
}

.project-card p {
  color: #d1d5db;
}

/* Contact */

.contact {
  text-align: center;
}

.contact p {
  color: #d1d5db;
}

/* Responsive */

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero h1 {
    font-size: 45px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero p {
    font-size: 20px;
  }

}